* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    background: white;
    color: #333;
    
}

/* cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(241, 127, 85);
    border-bottom: 2px solid #333;
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000;

}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

/* ===== BANNER ===== */
.banner {
    margin-top: 100px;
    text-align: center;
    padding: 60px 20px;
    background: #fceae3;
}

.banner h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.banner p {
    max-width: 600px;
    margin: 0 auto 20px;
}

.botao {
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary {
    background: #ff7a00;
    color: white;
}

.btn-seg {
    background: #333;
    color: white;
}

/* ===== CARROSSEL ===== */
.pets {
    padding: 40px;
    text-align: center;
}

.carrossel {
    display: flex;
    overflow: hidden;
    width: 300px;
    margin: auto;
}

.carrossel img {
    width: 100%;
    display: none;
}

/* ===== ADOÇÃO ===== */
.adote {
    text-align: center;
    padding: 40px;
    background: #f4f4f4;
}

/* ===== DOAÇÃO ===== */
.doacao {
    padding: 40px;
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin-inline: auto;
}

input {
    padding: 10px;
}

/* ===== SOBRE ===== */
.sobre {
    padding: 40px;
    background: #3b50ba;
    color: white;
    text-align: center;
}

/* ===== AVALIAÇÕES ===== */
.avaliacao {
    padding: 40px;
    text-align: center;
}

.container-card {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ===== CONTATO ===== */
.contato {
    padding: 40px;
    text-align: center;
    background: #eee;
}